[flake8]
max-complexity = 20
max-line-length = 127
ignore = D105,D205,D208,D400,F821
per-file-ignores =
    __init__.py: F401
exclude = .azure,.pytest_cache,__pycache__,build,clayer,dist,docs,idlpy,tests,_skbuild,cyclonedds/idl/_typesupport